html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
  }

a {
    text-decoration: none;

    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
}

.header {
    margin-bottom: 35px;
    padding-top: 73px;
}

.header-logo {
    display: block;
    margin-bottom: 40px;

    text-align: center;
}

.header-navigation-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.header-navigation-item {
    margin-bottom: 10px;

    padding: 5px;
}

.header-navigation-link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #000000;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #ff7931;
}

.header-navigation-link:active {
    opacity: 0.7;
}
        

.banner {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 45px;
    padding-top: 135px;
    padding-bottom: 47px;

    background-image: url('img/hotel_cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50%;
    background-color: #132231;
}

.banner::before {
    content: '';
  
    position: absolute;
    top: 47px;
    left: calc(50% - 27px);
  
    width: 55px;
    height: 55px;
  
    background-image: url("../img/hotel_icon.svg");
    background-repeat: no-repeat;
  }

.banner-title {
    margin: 0;
    margin-bottom: 123px;

    text-align: center;
}

.banner-title-link {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
  }

.banner-title-link:hover,
.banner-title-link:focus {
    color: #ff7931;
}

.banner-title-link:active {
    opacity: 0.7;
}

.banner-description {
    max-width: 456px;
    margin: auto;

    line-height: 25px;
    text-align: center;
    color: #ffffff;
}

.reviews {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 22px;
}

.reviews-title {
    margin: 0;
    margin-bottom: 20px;

    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;

    color: #000000;
}

.reviews-list {
    padding: 0px;
    margin: 0;
    margin-right: -29px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;
}

.reviews-item {
    max-width: 370px;
    margin-right: 29px;
    margin-bottom: 30px;
}

.reviews-image {
    display: block;
    margin-bottom: 19px;
}
  
.reviews-item-title {
    margin-bottom: 10px;
}
  
.reviews-link {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
}
  
.reviews-link:hover,
.reviews-link:focus {
    color: #ff7931;
}
  
.reviews-link:active {
    opacity: 0.7;
}
  
.reviews-description {
    font-weight: 400;
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
    padding: 34px 0 36px 0;
  
    background: radial-gradient(circle, #ffffff 47%, #f7f7f7 47%);
}
  
.promo-title {
    margin: 0 0 35px;
  
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
  
.promo-list {
    margin: 0 0 50px;
    padding: 0;
  
    text-align: center;
    
    list-style: none;
}
  
.promo-item {
    margin: 0 auto 24px;
    max-width: 370px;
}
  
.promo-item::after {
    content: "";
  
    display: block;
    width: 100px;
    height: 1px;
    margin: 0 auto;
    margin-top: 24px;
  
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}
  
.promo-item:last-child::after {
    display: none;
}
  
.promo-item:last-child {
    margin-bottom: 0;
}
  
.promo-item-title {
    margin: 0 0 7px;
  
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
}
  
.promo-description {
    margin: 0;
}
  
.button {
    position: relative;
  
    display: block;
    max-width: 170px;
    margin: 0 auto;
    padding: 17px 60px 16px 30px;
  
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-break: break-word;
    color: #ffffff;
  
    background-color: #ff7931;
    
    cursor: pointer;
}
  
.button::before {
    content: "";
  
    position: absolute;
    top: calc(50% - 12px);
    left: 118px;
  
    width: 25px;
    height: 25px;
  
    background-image: url("../img/arrow_icon.svg");
}

.footer {
    padding: 35px 0 35px;

    background-color: #575757;
}

.footer-logo {
    display: block;
  
    text-align: center;
}

.footer-navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-navigation-item {
    padding: 30px 0 44px;
}

.footer-navigation-link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
  color: #ff7931;
}

.footer-navigation-link:active {
  opacity: 0.7;
}

.social-list {
    display: flex;
    width: 169px;
    margin: 0 auto;
    padding: 0;
  
    list-style: none;
  }
  
.social-list-item {
    margin-right: 14px;
    margin-bottom: 14px;
}
  
.social-list-item:nth-child(3n) {
    margin-right: 0;
}
  
.social-list-link {
    margin-top: 42px;
    display: block;
    width: 47px;
    height: 47px;
  
    font-size: 0;
  
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
  
.social-list-link:hover,
.social-list-link:focus {
    background-color: #ff7931;
}
  
.social-list-link:active {
    opacity: 0.7;
}
  
.instagram {
    background-image: url("../img/instagram_icon.svg");
}
  
.facebook {
    background-image: url("../img/facebook_icon.svg");
}
  
.twitter {
    background-image: url("../img/twitter_icon.svg");
}