html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
  }

a {
    text-decoration: none;

    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-navigation-list,
.review-list,
.subscriptions-features-list,
.social-list {
    list-style: none;
    padding: 0px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
}

.header {
    margin-bottom: 35px;
    padding-top: 73px;
}

.header-logo {
    display: block;
    margin-bottom: 40px;

    text-align: center;
}

.header-navigation-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.header-navigation-item {
    margin-bottom: 10px;

    padding: 5px;
}

.header-navigation-link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #000000;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #ff7931;
}

.header-navigation-link:active {
    opacity: 0.7;
}
        

.banner {
    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 45px;
    padding-top: 135px;
    padding-bottom: 47px;

    background-image: url('img/hotel_cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50%;
    background-color: #132231;
}

.banner::before {
    content: '';
  
    position: absolute;
    top: 47px;
    left: calc(50% - 27px);
  
    width: 55px;
    height: 55px;
  
    background-image: url("../img/hotel_icon.svg");
    background-repeat: no-repeat;
  }

.banner-title {
    margin: 0;
    margin-bottom: 123px;

    text-align: center;
}

.banner-title-link {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
  }

.banner-title-link:hover,
.banner-title-link:focus {
    color: #ff7931;
}

.banner-title-link:active {
    opacity: 0.7;
}

.banner-description {
    max-width: 456px;
    margin: auto;

    line-height: 25px;
    text-align: center;
    color: #ffffff;
}

.review {
    margin-bottom: 51px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-title {
    margin-bottom: 20px;
}

.review-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.review-item {
    display: flex;
    flex-direction: column;

    max-width: 370px;
}

.review-item h4 {
    margin: 20px 0 10px;
}

.review-item p {
    margin: 0px;
    
}

.review-item:nth-child(2) {
    margin: 0px 29px;
}

.subscriptions {
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: url('img/ellipse.png') no-repeat; 
    background-color: #F7F7F7;
    background-position: center;
}   

.subscriptions-title {
    margin: 33px 0 35px;

}

.subscriptions-features-list {
    max-width: 400px;

    text-align: center;
}

.subscriptions-features-item {
    position: relative;
}

.subscriptions-features-item h4 {
   margin-bottom: 10px;
}

.subscriptions-features-item p {
    margin-bottom: 24px;
}

.subscriptions-features-item:nth-child(1):after,
.subscriptions-features-item:nth-child(2):after {
    content: "";
    position: absolute;

    bottom: -25px;
    left: 150px;

    width: 100px;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

.button {
    margin-bottom: 36px;
    padding: 17px 60px 15px 30px;

    text-transform: uppercase;
    text-align: center;
    
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;

    color: #FFFFFF;

    background: #FF7931;
}


.footer {
    display: flex;
    flex-direction: column;

    background: #575757;
}

.footer h1 {
    margin: 26px 0 32px;
    
    font-size: 28px;
    line-height: 37px;

    color: #FFFFFF;
}

.footer-navigation-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 0 135px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-navigation-item a {
    padding: 5px;

    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-navigation-item a:hover {
    text-decoration: underline;
}